.gradle/
local.properties
.idea/
.DS_Store
build/
captures/
*.class
*.iml
*.pyc
*.hprof
gradle/local.properties
/freeline*
.SNAPSHOT_*/
.settings
.project
.classpath
.vscode/
.source
.externalNativeBuild
.cxx